@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f9f9f9;
    background-image: url('background copy 2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Tajawal', sans-serif;
  }

h1{
    color: rgb(55, 55, 118);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 65px;
    position: absolute;
    top: 170px;
    left: 450px;
    width: 100%;
    font-family: 'Tajawal', sans-serif;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

input[list="city"]{
    position: absolute;
    top: 292px;
    left: 450px;
    height: 47px;
    width: 477px;
    background: white;
    padding: 3px;
    border: 16px #87c6d3 solid;
    border-radius: 26px;
    font-size: 50px;
    color: rgb(55, 55, 118);
    /* position: absolute; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


img{
    width: 350px;
    position: absolute;
    top: 400px;
    left: 530px;
    height: 100px;
    left: 50%;
    top: 62%;
    transform: translate(-50%, -50%);
}
@media (max-width: 650px) {
    h1 {
        top: 38% !important;
    }
}